# Secret key used to sign JWT tokens for authentication
JWT_SECRET=yovi_es1c_2526

# Internal path where the services will look for the database files inside the containers
DB_PATH=/app/data/
# Backend Service Endpoints
VITE_GAME_ENGINE_API_URL=/api/gamey   # Rust game engine (stateless logic)
VITE_GAME_SERVICE_API_URL=/api/game    # Game persistence service (matches, stats)
VITE_AUTH_API_URL=/api/auth            # Authentication service
VITE_USERS_API_URL=/api/users          # User profile service