# All dependencies needed to pretrain, train and export the model

# CPU ( Uncomment these lines if you have a GPU NVIDIA available )
torch>=2.0.0
torchvision>=0.15.0

# GPU - CUDA 12.6
# --index-url https://download.pytorch.org/whl/cu126
# torch>=2.0.0
# torchvision>=0.15.0

numpy>=1.24.0
pytest==8.*
pytest-cov==4.*
onnx>=1.16.0